@keyframes scroll
	0%
		transform translate(0px, 0px)

	100%
		transform translate(-1500px, -1500px)

@keyframes dashBlob
	from
		stroke-dashoffset 0
	to
		stroke-dashoffset 1200

@keyframes dashText
	from
		stroke-dashoffset 0
	to
		stroke-dashoffset 400
