.input
	width 200px
	height 50px
	border none
	border-radius 5px
	padding 0 1rem
	font-size 1rem
	font-family "Atkinson Hyperlegible", sans-serif
	font-weight 700
	color #f8f6f2
	background-color #131910
	border 3px solid #ddd8c4
	border-radius 10px
	transition all 0.3s ease-in-out
	margin 2rem

.input:focus
	outline none
	width 300px
	border-color #50808e

.buttonHolder
	display flex
	justify-content center
	align-items center
	margin-top 2rem
	transform scale(1.6)

	.button
		width 200px
		padding 0
		border none
		transform rotate(5deg)
		transform-origin center
		text-decoration none
		font-size 15px
		padding-bottom 3px
		border-radius 5px
		box-shadow 0 2px 0 #494a4b
		transition all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
		background-color #3d6654

	.button span
		background #273321
		color #f8f6f2
		font-family "Atkinson Hyperlegible", sans-serif
		font-weight 700
		display block
		padding 0.5rem 1rem
		border-radius 5px
		border 2px solid #ddd8c4

	.button:active
		transform translateY(5px)
		padding-bottom 0px
		outline 0


.textBlock
	display flex
	justify-content center
	align-items center
	margin-top 4rem
	font-size 1.5rem
	font-weight 400
	color #f8f6f2
	font-family "Atkinson Hyperlegible", sans-serif
	text-align center
	line-height 1.5
	text-wrap wrap
	width 50%

	.text-gradient
		background linear-gradient(90deg, #50808e 0%, #a3c9a8 100%)
		font-weight 700
		-webkit-background-clip text
		-webkit-text-fill-color transparent


.cover
	position absolute
	height 100%
	transform translateY(-500px)
	filter blur(10px)
	position center
	size cover
	animation scroll 60s infinite ease-in-out alternate
	z-index -10
	img
		user-select none
		-webkit-user-select none

	@media (max-width 768px)
		display none

.cover
	position absolute
	height 100%
	transform translateY(-500px)
	filter blur(10px)
	position center
	size cover
	animation scroll 60s infinite ease-in-out alternate
	z-index -10
	img
		user-select none
		-webkit-user-select none

	@media (max-width 768px)
		display none