---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import InterestForm from "../components/InterestForm.astro";
import { Image } from "astro:assets";
import Socials from "../components/Socials.astro";
import img from "../images/274.jpg";
---

<Layout title="Inertia">
  <main>
    <Logo />
    <div id="tagline" class="textBlock">
      <span>
        Community Driven <span class="text-gradient">Prediction Markets</span> —
        coming soon.
      </span>
    </div>
    <div class="form">
      <InterestForm showSeedInvestorForm />
    </div>
    <Socials />
    <div class="cover">
      <Image draggable="false" alt="" src={img} quality="high" />
    </div>
  </main>
</Layout>

<style lang="stylus">
body
    background-color #0d0c07
    transition all 0.2s ease-in-out

main
    display flex
    flex-direction column
    align-items center
    justify-content center
</style>
