---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import img from "../images/274.jpg";
---

<Layout title="Belief">
  <main>
    <div class="cover">
      <Image draggable="false" alt="" src={img} quality="high" />
    </div>
    <div class="logo" transition:name="logo" transition:animate="initial">
      <Logo />
    </div>
    <div class="textBlock">
      <p>
        Bet on <span class="text-gradient">news, culture, and more</span> —
        coming soon.
      </p>
    </div>
    <div class="hideInitial transparentInitial">
      <span>
        <b> Thanks for your interest!</b> We'll be in touch soon.
      </span>
    </div>
    <form id="emailForm">
      <input
        required
        class="emailInput"
        type="email"
        name="entry.1223453695"
        placeholder="Enter your email"
      />
      <div class="buttonHolder">
        <button type="submit" id="submitButton" class="button">
          <label>
            <span
              ><Icon
                name="ph:envelope-open-bold"
                style="transform: translateY(1px);"
              /> Join our waitlist</span
            >
          </label>
        </button>
      </div>
    </form>
  </main>
</Layout>

<script>
  import party from "party-js";

  const emailForm = document.getElementById("emailForm")! as HTMLFormElement;
  const submitButton = document.getElementById(
    "submitButton"
  )! as HTMLButtonElement;
  const hiddenText = document.querySelector(".hideInitial")! as HTMLElement;

  emailForm.addEventListener("submit", function (event) {
    event.preventDefault();
    const formData = new FormData(this);

    fetch(
      "https://docs.google.com/forms/u/0/d/e/1FAIpQLSebh92iCY-GZ28-UiC1iNaXJnMrvjbyXknmF_gkV1MTSqCW0A/formResponse",
      {
        method: "POST",
        body: formData,
        mode: "no-cors",
      }
    )
      .then((response) => {
        console.log("Form successfully submitted");
        emailForm.style.opacity = "0";
        submitButton.style.opacity = "0";
        hiddenText.classList.remove("hideInitial");
        hiddenText.classList.add("textBlock");
        hiddenText.style.opacity = "1";
        party.confetti(submitButton, {
          count: party.variation.range(20, 40),
        });
        setTimeout(() => {
          emailForm.style.display = "none";
          submitButton.style.display = "none";
        }, 10);
      })
      .catch((error) => {
        console.error("Error submitting form", error);
      });
  });
</script>

<style lang="stylus">
  body
    background-color #0d0c07
    transition all 0.2s ease-in-out

  main
    display flex
    flex-direction column
    align-items center
    justify-content center

  .cover
    position absolute
    height 100%
    transform translateY(-500px)
    filter blur(10px)
    position center
    size cover
    animation scroll 60s infinite ease-in-out alternate
    z-index -10
    img
      user-select none
      -webkit-user-select none

    @media (max-width 768px)
      display none

  @keyframes scroll
    0%
      transform translate(0px, 0px)

    100%
      transform translate(-1500px, -1500px)

  .logo
    transform scale(2)
    margin-top 10rem
    z-index 2
    transition all 0.2s ease-in-out

    @media (max-width 768px)
      transform scale(1)

  .hideInitial
    display none

  .transparentInitial
    opacity 0
    transition opacity 0.3s ease-in

  .textBlock
    display flex
    justify-content center
    align-items center
    margin-top 4rem
    font-size 1.5rem
    font-weight 400
    color #f8f6f2
    font-family "Atkinson Hyperlegible", sans-serif
    text-align center
    line-height 1.5
    text-wrap wrap
    width 50%

    .text-gradient
      background linear-gradient(90deg, #50808e 0%, #a3c9a8 100%)
      font-weight 700
      -webkit-background-clip text
      -webkit-text-fill-color transparent

  .emailInput
    width 200px
    height 50px
    border none
    border-radius 5px
    padding 0 1rem
    font-size 1rem
    font-family "Atkinson Hyperlegible", sans-serif
    font-weight 700
    color #f8f6f2
    background-color #131910
    border 3px solid #ddd8c4
    border-radius 10px
    transition all 0.3s ease-in-out
    margin 2rem

    &focus
      outline none
      width 300px
      border-color #50808e


  .buttonHolder
    display flex
    justify-content center
    align-items center
    margin-top 2rem
    transform scale(1.6)

    .button
      width 200px
      padding 0
      border none
      transform rotate(5deg)
      transform-origin center
      text-decoration none
      font-size 15px
      padding-bottom 3px
      border-radius 5px
      box-shadow 0 2px 0 #494a4b
      transition all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      background-color #3d6654

    .button span
      background #273321
      color #f8f6f2
      font-family "Atkinson Hyperlegible", sans-serif
      font-weight 700
      display block
      padding 0.5rem 1rem
      border-radius 5px
      border 2px solid #ddd8c4

    .buttonactive
      transform translateY(5px)
      padding-bottom 0px
      outline 0


</style>
