---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import InterestForm from "../components/InterestForm.astro";
import { Image } from "astro:assets";
import Socials from "../components/Socials.astro";
import img from "../images/274.jpg";
---

<Layout title="Inertia">
  <main>
    <Logo />
    <div class="denverCtaWrapper">
      <a class="denverCta" href="/ethdenver" data-umami-event="Here from ETHDenver on homepage">Here from ETHDenver?</a>
    </div>
    <div id="tagline" class="textBlock">
      <span>
        Community Driven <span class="text-gradient">Prediction Markets</span> —
        coming soon.
      </span>
    </div>
    <div class="form">
      <InterestForm showSeedInvestorForm />
    </div>
    <Socials />
    <div class="cover">
      <Image draggable="false" alt="" src={img} quality="high" />
    </div>
  </main>
</Layout>

<style lang="stylus">
body
    background-color #0d0c07
    transition all 0.2s ease-in-out

main
    display flex
    flex-direction column
    align-items center
    justify-content center

.denverCtaWrapper
  display flex
  justify-content center
  align-items center 
  margin-top 3rem

  .denverCta
    font-weight 700
    text-decoration underline !important
    text-decoration-style wavy !important
    font-size 2rem
    color #f8f6f2
    text-decoration none
    text-align center
    transition all 0.2s ease-in-out

    &:hover
      color #a3c9a8
      transform scale(1.1)

@media (max-width: 768px)
  .ethdenverlogo
    display none
</style>
