---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import InterestForm from "../components/InterestForm.astro";
import { Image } from "astro:assets";
import img from "../images/274.jpg";
---

<Layout title="Belief">
  <main>
    <div class="cover">
      <Image draggable="false" alt="" src={img} quality="high" />
    </div>
    <div class="logo" transition:name="logo" transition:animate="initial">
      <Logo />
    </div>
    <div class="textBlock">
      <p>
        Bet on <span class="text-gradient">news, culture, and more</span> —
        coming soon.
      </p>
    </div>
    <div class="form">
      <InterestForm />
    </div>
  </main>
</Layout>

<style lang="stylus">
body
    background-color #0d0c07
    transition all 0.2s ease-in-out

main
    display flex
    flex-direction column
    align-items center
    justify-content center
    // height 70vh

.logo
    transform scale(2)
    margin-top 10rem
    transition all 0.2s ease-in-out

    @media (max-width 768px)
        transform scale(1)
</style>
