---
import { Icon } from "astro-icon/components";
---

<div id="invertedCursor" transition:persist>
  <Icon name="ph:hand-pointing-bold" class="cursorIcon" id="point" />
  <Icon name="ph:cursor-bold" class="cursorIcon" id="cursor" />
</div>

<script>
  let hoverScale = 1;
  let lastX = 0;
  let lastY = 0;
  let lastTime = Date.now();

  const animateCursor = (e: MouseEvent, hoverScale: number) => {
    const x =
      e.clientX - document.getElementById("invertedCursor")!.offsetWidth / 2;
    const y =
      e.clientY - document.getElementById("invertedCursor")!.offsetHeight / 2;

    const currentTime = Date.now();
    const timeDelta = currentTime - lastTime;
    const speedX = Math.abs(x - lastX) / timeDelta;
    const speedScaleX = 1 + speedX * 0.1;
    const speedY = Math.abs(y - lastY) / timeDelta;
    const speedScaleY = 1 + speedY * 0.1;
    const scaleX = hoverScale * speedScaleX;
    const scaleY = hoverScale * speedScaleY;

    update(x, y, scaleX, scaleY);
    lastX = x;
    lastY = y;
    lastTime = currentTime;
  };

  const update = (x: number, y: number, scaleX: number, scaleY: number) => {
    let transform = `translate(${x}px, ${y}px) scale(${scaleX}, ${scaleY})`;

    document.getElementById("invertedCursor")!.animate(
      { transform },
      {
        duration: 1200,
        fill: "forwards",
      }
    );
  };

  const hoverCursor = (hS: number, fist?: boolean) => {
    const cursorIcon = fist ? document.getElementById("cursor")! : document.getElementById("point")!;
    hoverScale = hS;
    if (hoverScale === 1) {
      cursorIcon.style.opacity = "0";
    } else {
      cursorIcon.style.opacity = "1";
    }
  };

  const loadCursor = () => {
    function isTouch() {
      return (
        "ontouchstart" in window ||
        navigator.maxTouchPoints > 0
      );
    }
    if (isTouch()) {
      document.getElementById("invertedCursor")!.style.display = "none";
    }
    window.onmousemove = (e) => {
      animateCursor(e, hoverScale);
      [
        "a[href]",
        ".hoverable",
        "button",
        "input",
        "select",
        "label",
        "summary",
      ].forEach((element) => {
        document.querySelectorAll(element).forEach((h) => {
          h.addEventListener("mouseenter", () => (hoverCursor(1.6)));
          h.addEventListener("mouseleave", () => (hoverCursor(1)));
          document.addEventListener("astro:after-swap", () => (hoverCursor(1)));
        });
      });
    };
    document.addEventListener("mousedown", (e) => {
      hoverCursor(1.3, true);
      animateCursor(e, hoverScale);
    });
    document.addEventListener("mouseup", (e) => {
      hoverCursor(1, true);
      animateCursor(e, hoverScale);
    });
  };
  document.addEventListener("astro:page-load", loadCursor);
</script>

<style lang="stylus">
    body
        height 100%
        min-height 100%
        &:hover
            #invertedCursor
                opacity 1
                transition all 0.4s ease
            .cursorIcon
                transition opacity 0.4s ease

    #invertedCursor
        height 3rem
        width 3rem
        opacity 0.8
        border-radius 50%
        mix-blend-mode invert
        backdrop-filter invert() blur(1px)
        background-image url('/images/nnnoise.svg')
        position fixed
        left 0px
        top 0px
        z-index 99
        pointer-events none
        // mask radial-gradient(circle closest-side, transparent 70%, #000 70%)
        transition all 0.5s ease

    .cursorIcon
        position fixed
        left 50%
        top 50%
        transform translate(-50%, -50%)
        color white
        opacity 0
        transition all 0.5s ease
        font-size 1.2rem
        filter invert(1)
        mix-blend-mode difference
</style>
