<div class="logo" transition:name="logo" transition:animate="initial">
  <svg
    aria-label="Belief"
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    viewBox="42.05 124.55 117.52 37.32"
    >
    <defs id="defs1"
      ><linearGradient id="linearGradient2"
        ><stop style="stop-color:#538d5b;stop-opacity:1;" offset="0" id="stop2"
        ></stop><stop
          style="stop-color:#79a97f;stop-opacity:1;"
          offset="0.30452389"
          id="stop5"></stop><stop
          style="stop-color:#a3c9a8;stop-opacity:1;"
          offset="0.64084947"
          id="stop4"></stop><stop
          style="stop-color:#3d6654;stop-opacity:1;"
          offset="1"
          id="stop3"></stop></linearGradient
      ><linearGradient
        xlink:href="#linearGradient2"
        id="linearGradient3"
        x1="88.089867"
        y1="254.56"
        x2="403.32983"
        y2="163.60001"
        gradientUnits="userSpaceOnUse"
        spreadMethod="pad"
        gradientTransform="matrix(0.35996871,0,0,0.35996871,12.366153,67.687763)"
      ></linearGradient></defs
    >
    <path
      style="fill:url(#linearGradient3);stroke-linecap:round;stroke-linejoin:round;stroke:#F8F6F2;stroke-linecap:round;"
      d="m 57.164211,159.83976 q -1.727849,0 -3.628484,-0.82073 -1.857438,-0.82073 -2.894149,-2.59177 l -0.820728,2.89415 h -5.745102 v -28.8551 h 6.56583 v 10.3671 q 1.036711,-1.77105 2.894149,-2.63497 1.900635,-0.90712 3.628484,-0.90712 2.76456,0 4.881176,1.33908 2.159813,1.33909 3.369307,3.84447 1.209495,2.46219 1.209495,5.96108 0,3.49889 -1.209495,6.09067 -1.209494,2.54858 -3.369307,3.93086 -2.116616,1.38228 -4.881176,1.38228 z m -2.073419,-5.09715 q 1.900634,0 3.282914,-1.64146 1.425477,-1.68466 1.425477,-4.6652 0,-2.93735 -1.425477,-4.49241 -1.38228,-1.55507 -3.282914,-1.55507 -1.943831,0 -3.369308,1.46868 -1.382279,1.42547 -1.382279,4.70839 0,3.32611 1.382279,4.75159 1.425477,1.42548 3.369308,1.42548 z m 25.356225,5.09715 q -3.4557,0 -6.133867,-1.33909 -2.634971,-1.38228 -4.14684,-3.93085 -1.468673,-2.54858 -1.468673,-6.09067 0,-3.4125 1.555066,-5.91789 1.598261,-2.50538 4.190036,-3.88766 2.634971,-1.38228 5.7451,-1.38228 3.542092,0 6.047474,1.68465 2.548579,1.64146 3.844466,4.57881 1.295888,2.89415 1.079906,6.69541 H 75.306663 q 0.172785,2.24621 1.641458,3.36931 1.511868,1.12311 3.32611,1.12311 1.511869,0 2.591775,-0.43197 1.123102,-0.47516 1.72785,-1.1663 l 5.226746,1.90064 q -1.684654,2.46218 -4.233232,3.62848 -2.505382,1.1663 -5.140353,1.1663 z m -5.140354,-13.47723 h 9.762352 q -0.0432,-2.07342 -1.425476,-3.11013 -1.38228,-1.07991 -3.282915,-1.07991 -1.857438,0 -3.326111,0.99352 -1.425476,0.99351 -1.72785,3.19652 z M 101.354,159.32141 q -2.634971,0 -4.190037,-0.43197 -1.555064,-0.47516 -2.246204,-1.77105 -0.647944,-1.33908 -0.647944,-3.84446 v -22.80762 h 6.565835 v 21.07977 q 0,1.51187 0.60474,1.98703 0.60475,0.43196 2.24621,0.43196 h 1.85743 v 5.35634 z m 11.57654,-24.96744 q -1.59826,0 -2.76456,-1.1231 -1.1231,-1.1663 -1.1231,-2.76456 0,-1.64145 1.1231,-2.76456 1.1663,-1.1231 2.76456,-1.1231 1.64146,0 2.76456,1.1231 1.1231,1.12311 1.1231,2.76456 0,1.59826 -1.1231,2.76456 -1.1231,1.1231 -2.76456,1.1231 z m -3.32611,24.96744 v -16.41458 h -4.06045 v -5.01076 h 10.66948 v 21.42534 z m 21.29577,0.51835 q -3.4557,0 -6.13387,-1.33909 -2.63497,-1.38228 -4.14684,-3.93085 -1.46867,-2.54858 -1.46867,-6.09067 0,-3.4125 1.55507,-5.91789 1.59826,-2.50538 4.19003,-3.88766 2.63498,-1.38228 5.7451,-1.38228 3.5421,0 6.04748,1.68465 2.54858,1.64146 3.84447,4.57881 1.29588,2.89415 1.0799,6.69541 h -15.85302 q 0.17278,2.24621 1.64146,3.36931 1.51186,1.12311 3.32611,1.12311 1.51187,0 2.59177,-0.43197 1.1231,-0.47516 1.72785,-1.1663 l 5.22675,1.90064 q -1.68466,2.46218 -4.23323,3.62848 -2.50539,1.1663 -5.14036,1.1663 z m -5.14035,-13.47723 h 9.76235 q -0.0432,-2.07342 -1.42547,-3.11013 -1.38229,-1.07991 -3.28292,-1.07991 -1.85744,0 -3.32611,0.99352 -1.42548,0.99351 -1.72785,3.19652 z m 20.56141,12.95888 v -16.41458 h -3.5421 v -5.01076 h 3.5421 v -3.4989 q 0,-2.54858 0.86392,-3.97405 0.86393,-1.42548 2.67817,-1.98703 1.81424,-0.56156 4.70839,-0.56156 h 2.98053 v 5.18355 h -1.81424 q -1.72785,0 -2.2894,0.34558 -0.56154,0.34557 -0.56154,1.59826 v 2.89415 h 4.66518 v 5.01076 h -4.66518 v 16.41458 z"
      id="g8"
    >
      <style>
        #g8 {
          stroke-width: 0;
          transition: stroke-width 0.3s;
          stroke-dasharray: 200;
          animation: dashText 5s ease-in-out infinite forwards;
        }
        #g8:hover {
          stroke-width: 1;
          transition: stroke-width 0.3s;
        }
      </style>
    </path>
  </svg>
</div>

<style lang="stylus">
  .logo
    width 40rem
    margin-top 10rem
    transition all 0.4s ease-in-out

    @media (max-width 768px)
      width 80vw

    @media (max-height 768px)
      margin-top 2rem

</style>