<div class="minilogo" transition:name="minilogo" transition:animate="initial">
    <svg
        xml:space="preserve"
        width="106.39"
        height="51.07"
        style="transform: scale(2);"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
    >
        <defs>
            <radialGradient
                xlink:href="#a"
                id="d"
                cx="172.85"
                cy="141.61"
                fx="172.85"
                fy="141.61"
                r="210.35"
                gradientTransform="matrix(.07771 .25292 -.24459 .07515 112.1 75.79)"
                gradientUnits="userSpaceOnUse"></radialGradient>
            <linearGradient id="a">
                <stop offset="0" stop-color="#568a5a"></stop>
                <stop offset="1" stop-color="#8ebf93"></stop>
            </linearGradient>
        </defs>
        <path
            id="g11"
            d="m87.05 137.64-.19-.8a14.5 14.5 0 0 0-.75-2.55 3.91 3.91 0 0 0-1.96-2.13c-.85-.43-1.69-.65-3.97-1.05a7.06 7.06 0 0 1-.72-.15l.56-.1c3.74-.6 5.08-1.23 5.92-2.82.33-.64.56-1.34.91-2.88l.21-.9c.01-.04.01-.04.03 0l.14.59c.13.6.23 1.01.37 1.54.61 2.2 1.42 3.13 3.3 3.75.71.24 1.49.42 3.01.68.42.08.75.14.74.15-.02.02-.33.08-.93.18-2.68.45-3.96.92-4.81 1.8-.73.73-1.16 1.78-1.67 4.09l-.16.68-.03-.08zm-18.98-5.56c-.5 0-1.02 0-1.56.02v5.56s5.21-1.68 7.91-1.77c3.74-.11 11.09 1.77 11.09 1.77s.32-5.58-11.09-5.58zm0-2.3c-.5.01-1.02 0-1.56-.01v-5.56s5.21 1.68 7.92 1.77c3.73.11 11.08-1.77 11.08-1.77s.32 5.58-11.09 5.58z"
            fill="url(#d)"
            style="stroke-linecap:round;stroke-linejoin:round;stroke:#F8F6F2;stroke-linecap:round;"
            transform="matrix(3.77953 0 0 3.77953 -251.36 -469.45)"></path>
        <style>
            #g11 {
                stroke-width: 0;
                transition: stroke-width 0.3s;
                stroke-dasharray: 200;
                animation: dashText 5s ease-in-out infinite forwards;
            }
            #g11:hover {
                stroke-width: 1;
                transition: stroke-width 0.3s;
            }
        </style>
    </svg>
</div>

<style lang="stylus">
.minilogo
    width 100%
    display flex
    justify-content center
    align-items center
    transition all 0.4s ease-in-out
    
</style>
