---
// import { ViewTransitions } from "astro:transitions";
import Cursor from "../components/Cursor.astro";

import "../styles/global.styl";

import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/flow-circular";

interface Props {
  title: string;
  description?: string;
  image?: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.85" />
    <meta
      name="description"
      content="Join and Discover Collective Insight — coming soon."
    />
    <link rel="icon" href="/inertialogo_min.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#538D5B" />
    <meta name="og:title" content={Astro.props.title} />
    <meta name="og:type" content="website" />
    <meta name="og:url" content={Astro.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="og:description"
      content="Bet on news, culture, and more — coming soon."
    />
    <!-- <meta name="og:image" content="/opengraph.webp"> -->
    <title>{Astro.props.title}</title>
    <!-- <ViewTransitions /> -->

    <!-- Google tag (gtag.js) -->
    <script
      async
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-0NP8Z30692"></script>
    <script type="text/partytown" is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-0NP8Z30692");
    </script>

    <!-- <script>
      import Lenis from "@studio-freight/lenis";

      const lenis = new Lenis({
        duration: 1.6,
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // https://www.desmos.com/calculator/brs54l4xou
        orientation: "vertical",
        gestureOrientation: "vertical",
        smoothWheel: true,
        wheelMultiplier: 0.6,
        smoothTouch: false,
        infinite: false,
      });

      // @ts-ignore
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);

      window["lenis"] = lenis;
    </script> -->
  </head>
  <body>
    <Cursor />
    <slot />
  </body>
</html>
